/* CONTACT STYLES */
/* FAQ STYLES */
/* ABOUT-US STYLES */
/* PRODUCTS STYLES */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace; }

/* HOME AND GENERAL STYLES */
/* header style */
header {
  background-color: #fafafa; }
  header nav div a img {
    width: 100px;
    scale: 3; }
  header nav div div ul li .color-menu:hover {
    color: #962525 !important;
    scale: 1.05;
    border-bottom: 1px solid #962525;
    transition: color 0.3s ease-in-out; }

/* main style */
main {
  position: relative;
  margin-bottom: 200px; }
  main section {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; }
  main section div p {
    width: 300px;
    font-size: 1rem;
    margin-top: 30px; }
  main section div span {
    font-weight: bold;
    color: #962525;
    text-decoration: underline; }
  main section div .photoCut {
    width: 300px;
    border: 3px solid #962525;
    margin-left: 30px; }
  main section div .photoCut-2 {
    margin-right: 30px; }

/* footer style */
footer {
  height: 180px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  background-color: #fafafa;
  position: fixed;
  bottom: 0; }
  footer p {
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;
    color: #962525;
    margin-top: 20px; }
  footer span {
    color: #962525;
    font-size: 3rem;
    font-family: "Dancing Script", cursive; }
  footer .redes {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 2rem; }
  footer .redes a {
    color: #9b9b9b; }
  footer div a .instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%); }
  footer div a .facebook:hover {
    background: #4267b2; }
  footer div a .twitter:hover {
    background: #1da1f2; }
  footer div a .btn-social:hover {
    color: #fff;
    border-radius: 7px;
    padding: 3px 5px;
    transition: all 0.5s; }

/* MQ tablet */
@media screen and (max-width: 768px) {
  .main-container-idx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .photoCut,
  .photoCut-2 {
    max-width: 200px; }
  .text-idx {
    max-width: 150px;
    font-size: 0.9rem; }
  /* Products styles */
  .products-img-polo {
    display: none; }
  .products-section {
    display: flex;
    flex-direction: column; }
  .products-img {
    max-width: 400px; }
  .text-products-tittles,
  .text-products-prices,
  .text-products-prices1 {
    font-size: 0.8rem; } }

/* MQ phone */
@media screen and (max-width: 600px) {
  .photoCut,
  .photoCut-2 {
    max-width: 150px; }
  .text-idx {
    max-width: 120px;
    font-size: 0.6rem; }
  /* Products styles */
  .products-img {
    max-width: 200px; }
  .text-products-tittles,
  .text-products-prices,
  .text-products-prices1 {
    font-size: 0.6rem; } }
