@import "./../utilidades/vars";

@mixin hover-color-menu {
  color: $color-dos !important;
  scale: 1.05;
  border-bottom: 1px solid $color-dos;
  transition: color 0.3s ease-in-out;
}

@mixin footer-style {
  height: 180px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  background-color: $color-uno;
  position: fixed;
  bottom: 0;
}

@mixin btn-contact {
  width: 100px;
  margin: 10px 0 0 5px;
  font-size: 12px;
  border: 1px solid rgb(216, 212, 212);
  border-radius: 18px;
  background-color: $color-uno;
}

@mixin FAQ-main-container {
}

@mixin FAQ-text-containers {
  width: 1200px;
  font-size: 1.5rem;
  background-color: $color-uno;
  border: 1px solid $color-dos;
  gap: 200px;
}
